# Licensed font — not for redistribution
# Purchase PP Neue Machina at pangram-pangram.com
assets/fonts/PP Neue Machina - Inktrap Ultrabold v2.0/
assets/fonts/PPNeueMachina-subset.woff2

# macOS
.DS_Store
